@import "~@angular/material/theming";

@mixin navbar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    app-navbar {
        color: mat-color($primary, default-contrast);

        .navbar-header {
            background: mat-color($primary);
        }

        .navbar-option {
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: -1.25em;
            width: 10em;
            input {
                color: mat-color($primary);
                font-weight: bolder;
            }
        }
    }
}
