.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px 3px;
    height: 48px;
    min-width: 800px;
}

.flex-spacer {
    flex-grow: 1;
}

a.title {
    font-size: 18px;
}

div.mode {
    color: black;
    background: white;
    padding: 4px;
}
