@import "~@angular/material/theming";

app-root {
    display: flex;
    flex-direction: column;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-width: 600px;
}

div.my-content {
    margin-top: 52px;
    padding: 10px;
    padding-bottom: 0px;
}

mat-card {
    margin-bottom: 10px;
}

mat-grid-tile {
    z-index: 2;
    @include mat-elevation(2);
}

table {
    width: 100%;
    .mat-header-cell {
        font-size: 15px;
    }
    td.col1,
    td.col2,
    td.col3 {
        height: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    td.col1 {
        width: 10%;
        font-size: 15px;
    }
    td.col2,
    td.col3 {
        width: 45%;
    }
    td.col2 {
        padding-right: 10px;
    }
    app-time-percent-chart {
        div.chart-container {
            @include mat-elevation(2);
        }
    }
}
