@import "~@angular/material/theming";

app-root {
    display: flex;
    flex-direction: column;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-width: 600px;
}

div.my-content {
    margin-top: 52px;
    padding: 10px;
    padding-bottom: 0px;
}

mat-card {
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

mat-grid-tile {
    z-index: 2;
    @include mat-elevation(2);
}
