@import "~@angular/material/theming";

app-root {
    display: flex;
    flex-direction: column;
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-width: 800px;
}

div.my-content {
    margin-top: 52px;
    padding: 10px;
    padding-bottom: 0px;
}

mat-card {
    margin-bottom: 10px;
}

mat-grid-tile {
    z-index: 2;
    @include mat-elevation(2);
}

mat-list {
    width: 90%;
}

table {
    width: 100%;
    table-layout: fixed;
    .mat-header-cell {
        font-size: 18px;
    }
    th.col1 {
        width: 14%;
    }
    th.col2,
    th.col3 {
        width: 43%;
    }
    td.col1,
    td.col2,
    td.col3 {
        height: 210px;
        padding-top: 10px;
        padding-bottom: 10px;
        .mat-list-item-content {
            padding: 0 !important;
            font-size: 18px;
        }
    }
    td.col2 {
        padding-right: 15px;
    }
    app-time-percent-chart {
        div.chart-container {
            @include mat-elevation(2);
        }
    }
}
